#container {
    position: absolute;
    top: 10%; /* Üstten boşluk bırak */
    left: 50%; /* Yatay olarak tam ortaya getir */
    transform: translateX(-50%); /* Kendi genişliğinin yarısı kadar sola kaydır */
    height: 80px;
    text-align: center;
    color : white;
  }
  #title{
    margin-top: 10px;
  font-size: 1.4rem;
  
  }
  #slogan{
    margin-top: 10px;
  font-size: 3.5rem;
  }
  .custom-success{
    background-color: #CE2829
  }