#header {
  background-color: #CE2829;
  height: 30vh;
  text-align: center;
  color: white;
  background-position: center;
}

#form-container {
  margin-left: 30vh;
  margin-right: 30vh;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
}

#pizzaName {
  margin-top: 10px;
  font-size: 1rem;
}

#pizzaExp {
  margin-top: 10px;
  font-size: 0.8rem;
}

#pizzaPrice {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 1rem;
}

#size {
  display: flex;
  flex-direction: column;
  margin-right: ½rem;
  font-size: 0.8rem;
}

#toppings {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  font-size: 0.8rem;
}

#mediumArea {
  margin-top: 10px;
  font-size: 0.8rem;
}

#dough {
  height: 20px;
}

#note {
  margin-top: 10px;
  height: 20px;
  width: 100%;
}

#quantity {
  margin-top: 10px;
  height: 3rem;
  width: 3rem;
  font-size: 1.5rem;
  text-align: center;
  width: 4rem;
  padding: .5rem;
  font-size: 1.5rem;
  border: 0;
  border-top: 0 solid #dbdbdb;
  border-bottom: 0 solid #dbdbdb;

}

#tinyButton {
  height: 3rem;
  width: 3rem;
  font-size: 1.5rem;
  background: #FDC913;
  color:black;
  border: 0 solid #dbdbdb;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
}

#firstButton {
  background-color: #FDC913;
  margin-top: 10px;
  border-radius: 20px;
  font-size: 1em;
  font-family: inherit;
  cursor: pointer;
  left: 50%;
  text-align: center;
  width: 6rem;
  height: 3rem;
}

#name {
  width: 100%;
}

.altKisim{
  display: grid;
  grid-template-columns: repeat(2, 1fr);

}
#sonBolum{
  display: grid;
  row-gap: 10px;
  align-content: center;
  justify-items: center;


}
#toplam{
 font-weight: bold;
}