#header {
  background-color: #CE2829;
  height: 30vh;
  text-align: center;
  color: white;
  background-position: center;
}

#form-container {
  margin-left: 30vh;
  margin-right: 30vh;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  @media (max-width: 768px) {
    top: 15%;
   width: 100%;
   margin-left: 0;
   margin-right: 0;
  }
}

#pizzaName {
  margin-top: 10px;
  font-size: 1rem;
}

#pizzaExp {
  margin-top: 10px;
  font-size: 0.8rem;
}

#pizzaPrice {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 1rem;
}

#size {
  display: flex;
  flex-direction: column;
  margin-right: ½rem;
  font-size: 0.8rem;
}

#toppings {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  font-size: 0.8rem;
}

#mediumArea {
  margin-top: 10px;
  font-size: 0.8rem;
  @media (max-width: 768px) {
    top: 15%;
   width: 100%;
  }
}

#dough {
  height: 20px;
}

#note {
  margin-top: 10px;
  height: 20px;
  width: 100%;
}

#quantity {
  height: 3rem;
  width: 3rem;
  font-size: 1.5rem;
  text-align: center;
  padding: .5rem;
  font-size: 1.5rem;
 border: 1px solid black;
 border-radius: 4px;

}

#tinyButton {
  height: 3rem;
  width: 3rem;
  font-size: 1.5rem;
  background: #FDC913;
  color:black;
  border: 0 solid #dbdbdb;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
}

#firstButton {
  background-color: #FDC913;
  margin-top: 10px;
  border-radius: 20px;
  cursor: pointer;
  width: 6rem;
  
}

#name {
  width: 100%;
}

.altKisim{
  display: grid;
  grid-template-columns: repeat(2, 1fr);

}
#sonBolum{
  display: flex;
  align-items: center;
  justify-content: center;

}
#toplam{
 font-weight: bold;
}